@font-face {
  font-family: "Nise Saturn";
  src: url("../assets/fonts/SegaSaturnJPN.TTF");
}

@font-face {
  font-family: "SFdisplay-pro";
  src: url("../assets/fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "SFdisplay-pro";
  src: url("../assets/fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: bold;
}

:root {
  font-family: SFdisplay-pro, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-console: #d3d1d2;
  --color-sega: #343233;
  --color-dpad: #4e4e50;
  --color-xyz: #7e7e7e;
  --color-a: #2d8467;
  /* --color-b: #fecb23; */
  --color-b: #ca9e0c;
  --color-c: #1d59c2;
  --color-main: #b82a75;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--color-console);
}

h1 {
  color: var(--color-sega);
  position: top;
  text-align: center;
  font-size: 23px;
  /* text-shadow: rgba(184, 42, 117, 0.35) 0px 5px 15px; */
  text-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

#project-saturn {
  color: var(--color-main);
  position: top;
  text-align: center;
  font-size: 75%;
  font-family:
    Nise Saturn,
    system-ui;
}

.sgSaturn-resume {
  color: var(--color-sega);
  display: flex;
  align-items: center;
  justify-content: center;
  /* size: 1em; */
}
.sgSaturn-image1 {
  border: solid 3px var(--color-a);
  border-radius: 4px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: center;
  max-width: 320px;
  max-height: 240px;
}
.sgSaturn-image2 {
  border: solid 3px var(--color-b);
  border-radius: 4px;
  margin: 10px;
  position: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 320px;
  max-height: 240px;
}
.sgSaturn-image3 {
  border: solid 3px var(--color-c);
  border-radius: 4px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: center;
  max-width: 320px;
  max-height: 240px;
}
.sgSaturn-txt-wrapper {
  color: var(--color-sega);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--color-dpad);
  border-radius: 4px;
  padding: 5px;
  margin: 8px;
  align-items: center;
  display: flex;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#color-a {
  color: var(--color-a);
  font-weight: bold;
}
#color-b {
  color: var(--color-b);
  font-weight: bold;
}
#color-c {
  color: var(--color-c);
  font-weight: bold;
}
#color-main {
  color: var(--color-main);
  font-weight: bold;
}

a {
  font-weight: bold;
}
/* unvisited link */
a:link {
  color: var(--color-main);
}

/* visited link */
a:visited {
  color: var(--color-dpad);
}

/* mouse over link */
a:hover {
  color: var(--color-a);
}

/* selected link */
a:active {
  color: var(--color-c);
}
